[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Ll]ogs/
UWP/
[Oo]bj/
.vscode/
.vs/
/node_modules
/build

*.csproj
*.unityproj
*.sln
*.ai
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.blend1

sysinfo.txt
build_info.txt
build_info.txt.meta
Build.meta
.vscode
.vs
.DS_Store
